:host {
  --console-widget-background: #333;
  --console-widget-color: #fff;
  --console-widget-title-color: #fff;
  --console-widget-log-background: #444;
  --console-widget-log-border: #555;
  --console-widget-log-color-info: #5bc0de;
  --console-widget-log-color-log: #ffffff;
  --console-widget-log-color-debug: #6c757d;
  --console-widget-log-color-warn: #f0ad4e;
  --console-widget-log-color-error: #d9534f;

  display: block;
  font-family: sans-serif;
  background: var(--console-widget-background);
  color: var(--console-widget-color);
  font-size: var(--console-widget-font-size, 14px);
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  overflow-y: auto;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: var(--console-widget-title-color);
}

.log-section {
  max-height: 150px;
  overflow-y: auto;
}

.log-section .log-line {
  font-family: monospace;
  font-size: 0.7rem;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--console-widget-log-border);
  background-color: var(--console-widget-log-background);
  padding: 5px;
  width: 100%;
}

.log-section .log-line .log-level {
  display: inline-block;
  width: 50px;
  font-weight: 600;
}

.log-section .log-line .info {
  color: var(--console-widget-log-color-info);
}

.log-section .log-line .log {
  color: var(--console-widget-log-color-log);
}

.log-section .log-line .debug {
  color: var(--console-widget-log-color-debug);
}

.log-section .log-line .warn {
  color: var(--console-widget-log-color-warn);
}

.log-section .log-line .error {
  color: var(--console-widget-log-color-error);
}
